@model Membership_.Areas.Admin.Models.SmallButtonModel
@using Membership_.Areas.Admin.Models
<style>
    .tblButtonsPartial {
        float: right;
        margin-right: -6px;
    }
</style>
<td style="width:120px;">
    <div class="btn-group tblButtonsPartial" role="group">
        @Html.Partial("_SmallButtonPartial",
            new SmallButtonModel
            {
                Id = Model.Id,
                ItemId = Model.ItemId,
                ProductId = Model.ProductId,
                SubscriptionId = Model.SubscriptionId,

                Action = "Edit",
                ButtonType = "primary",
                Glyph = "pencil",
                Text = "Edit Button"
            }
       )

        @Html.Partial("_SmallButtonPartial",
            new SmallButtonModel
            {
                Id = Model.Id,
                ItemId = Model.ItemId,
                ProductId = Model.ProductId,
                SubscriptionId = Model.SubscriptionId,

                Action = "Details",
                ButtonType = "success",
                Glyph = "list",
                Text = "Details Button"
            }
       )

        @Html.Partial("_SmallButtonPartial",
            new SmallButtonModel
            {
                Id = Model.Id,
                ItemId = Model.ItemId,
                ProductId = Model.ProductId,
                SubscriptionId = Model.SubscriptionId,

                Action = "Delete",
                ButtonType = "danger",
                Glyph = "trash",
                Text = "Delete Button"
            }
       )
    </div>
</td>
